.connectStep{
    width: 100%;
}
.connect{
    width: 50.6%;
    float: left;
    background-image: url(../../../../images/Rectangle\ 86.png);
}
.connect1 {
    margin-left: 26.3%;
    width: 546px;
    margin-top: 128px;
    margin-bottom: 106px;
    background: #FFFFFF;
    box-shadow: 0px 54px 52px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    
    
}
.chead{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    padding-left: 134px;
/* identical to box height */
}

.cbody{
    background: #EFEFEF;
    width: 100%;
    color: #000000;
}

.connect .connect1 p.cbody .col h5{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #0056C6;
    margin-left: 23%;
}
.connect .connect1 p.cbody .row .End.col{
    margin-left: 0;
    padding-left: 0;

}
.connect .connect1 p.cbody .row{
    margin-left: 4px;
    margin-top: 6px;
}
.connect .connect1 p.cbody .row .begin.col{
    padding-right: 0;
    margin-right: 0;

}

.connect .connect1 p.cbody .row .middle.col{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;

}
.connect .connect1 p.cbody .col p.alpha{
    width: 43%;
}
.connect .connect1 p.cbody .col p{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #F0A800;
    padding: 3px 7px;
    border-radius: 15px;
    width: 42%;
    margin-left: 37%;
}
.connect .connect1 p.cbody .col h6{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0A1128;
    
}
.connect .connect1 p.cbody .col h6.alpha{
    margin-left: 25%;
}
.connect .connect1 p.cbody .line{
    width: 93px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
.connect .connect1 p.cbody hr {
    display: block;
    height: 1px;
    border: 0;
    border: 1px solid #92B5DD;
    margin: 1.4em 0;
    padding: 0;
}
.bbody{
    background: #0056C6;
    border-radius: 3px;
    width: 40%;
    height: 50px;
    padding-left: 74px;
    margin-left: 164px;

}
.connect2{
    width: 49.4%;
    float: left;
    background-image: url(../../../../images/Rectangle\ 499.png
    );

}
.headp{
    width: 58.1%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #0056C6;
    margin-top: 146px;
    padding-left: 139px;
    text-align: left;
    box-sizing: content-box;
}
.pbody{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-left: 139px;
    color: #000000;
    text-align: left;
    padding-right: 146px;
}
.abody{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    cursor: pointer;

    color: #0056C6;
}
.about{
    width: 100%;
    float: left;
}
.connect3{
    width: 50.4%;
    float: left;
}
.connect4{
    width: 49%;
    float: left;
}
.abouth{
    width: 58.1%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #0056C6;
    margin-top: 146px;
    padding-left: 126px;
    text-align: left;
    box-sizing: border-box;

}
.aboutp{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-left: 126px;
    color: #000000;
    text-align: left;
    padding-right: 46px;

}
.connect5{
    background: #0056C6;
    background-image: url(../../../../images//Rectangle\ 1863.png);
    border-radius: 5px;
    width: 78%;
    margin-top: 49px;
    height: 184px;
}
.connectText{
    width: 81.2%;
    float: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: left;

    color: #FFFFFF;
}

.connect4 .card-body h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 0;
    margin-top: 22px;
    text-align: left;
    color: #FFFFFF;
}
.connect4 .card-body h4{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    float: left;
}
.connect4 .card-body h6{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    float: left;
    margin-top: 26px;
    margin-left: -102px;

}
.base{
    background: #F0A800;
    float: left;
    width: 100%;
    margin-top: -119px;
    height: 203px;
}
.connect6{
    width: 100%;
    float: left;
}
.connect6 .container h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */

    text-align: center;
    margin-top: 101px;

    color: #0056C6;
}
.connect6 .container p{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}
.connect6 .container .carousel.slide{
    margin-top: 98px;
    margin-bottom: 323px;
}
.connect8{
    width: 48%;
    float: left;
   
    
}
.connect9{
    width: 52%;
    float: left;
    
}
.connect9 .form-control {
    display: block;
    width: 51%;
    margin-left: 20%;
}
.connect9 p, .connect9 .btn{
    margin-left: 20%;
    float: left;
}
.connect9 .btn{
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #FFFFFF;
padding-left: 5%;
padding-right: 5%;
}