.cover2{
    margin-top: 106px;
    background: #0056C6;
    height: 172px;
}
.cover2 .row{
    margin-left: 0;
    margin-right: 0;
}
.cover2 .row h4{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 1.25%;
    margin-top: 65px;
}
.cover2 .row p{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 91px;
    margin-left: -6%;
}
.cover2 .row .col button{
    background: #E8F1FE;
    border: 1px solid #0056C6;
    box-sizing: border-box;
    border-radius: 3px;
    color: #0056C6;
    float: right;
    margin-right: 9%;
    margin-top: 61px;
}
.cover2 .row img.pic2{
    margin-left: 12%;
    margin-top: 26px;
}
.main.row{
    
    margin-left: 0;
    margin-right: 0;
}
.main.row .col .middle.card{
    width: 37rem;
    height: 174px;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 2%;
}
.main.row .col .middle.card .card-header{
    background: #ffffff;
    border-radius: 5px 5px 0px 0px;
    color: #000000;
    text-align: left;
}
.main.row .card{
    width: 16rem;
    margin-left: 9%;
    margin-top: 43px;
    height: 613px;  
}
.main.row .col .last.card{
    margin-left: 0;
    width: 16rem;
    height: 126px;
}
.main.row .card-header{
    background: #0056C6;
    border-radius: 5px 5px 0px 0px;
    color: #ffffff;
    text-align: left
}
.main.row .card-body .card-title.h5{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #999999;
}

.main.row .card-body p.card-text{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.main.row .card-header span.edit{
    margin-left: 40px;
}
.main.row .col .content.card{
    border: 0px;
    width: 39rem;
    margin-left: 9%;
    margin-top: 91px;
    height: 613px; 
}
.main.row .col .content.card .card-body .card-title.h5{
    background-color: #E8F1FE;
    width: 39rem;
    height: 40px;
    margin-left: -21px;
    margin-top: -21px;
    color: #0056C6;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-left: 17px;
    line-height: 0px;
}

.main.row .col .content.card .card-body p.card-text{
    text-align: left;
    width: 100%;
}
.main.row .col .content.card .card-body .after.card-title.h5{
    margin-top: 36px;
}
.main.row .col .content.card .card-body .card-title.h5 span.econtent{
    margin-left: 76%;
    margin-bottom: 62px;
}
.main.row .col .content.card .card-body span.edit3{
    margin-left: 71%;
}
.main.row .col .content.card .card-body span.delete{
    margin-left: 5%;
}
.main.row .col .content.card .card-body p.date.card-text{
    padding-left: 69%;
    position: absolute;
    margin-top: -70px;
}
.main.row .col .content.card .card-body .after.card-title.h5 span.addp{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #0056C6;
    margin-top: 17px;
    margin-left: 5px;
}
.main.row .col .content.card .card-body .after.card-title.h5 span.add{
    margin-left: 69%;
}
.main.row .col .content.card .card-body span.addp p{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
}