.personal{
    width: 100%;
    margin-top: 93px
}
.personal .image{
    width: 50%;
    float: left;
}
.personal .form{
   width: 98%;
   padding-left: 62%;
}
.form-control{
    border: 1px solid #92B5DD;
}
.personal .form h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    color: #0056C6;
    text-align: left;
    padding-top: 87px;
}
.personal .form p{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 15px;
    /* identical to box height, or 150% */


    color: #000000;
}
.form .form-row .form-group.col label.form-label{
    display: flex;
    color: #8BA3B8;
}
.form .form-row .form-group.col-md-8 label.form-label{
    display: flex;
    color: #8BA3B8;
}
.form .form-row .form-group.col-md-4 label.form-label{
    display: flex;
    color: #8BA3B8;
}
.personal .form .last.form-row {
    margin-bottom: 50px
}

.personal .form img{
    margin-top: 45px;
    position: absolute;
    margin-left: -9%;
}
.form .btn{
    background: #0056C6;
    border-radius: 3px;
    width: 73%;
    padding-left: 30%;
    margin-left: 0;
    margin-top: 51px;
}

.personal .form p.need{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin-top: 42px;
    text-align: center;
/* identical to box height */
    cursor: pointer;

}
.personal .form p.need a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */


    color: #0056C6;
    cursor: pointer;

}