.signup1{
    width: 100%;
    margin-top: 93px
}
.signup1 .image{
    width: 50%;
    float: left;
}
.signup1 .form{
   width: 98%;
   padding-left: 62%;
}
.form-control{
    border: 1px solid #92B5DD;
}
.signup1 .form img{
    margin-top: 83px;
    position: absolute;
    margin-left: -9%;
}
.signup1 .form h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    color: #0056C6;
    text-align: left;
    padding-top: 150px;

}
.signup1 .form p{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 42px;
    /* identical to box height, or 150% */


    color: #000000;
}

.signup1 .form p.forget{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    padding-left: 60%;
    /* identical to box height */


    color: #0056C6;
    cursor: pointer;
}
.form .signb.btn{
    background: #0056C6;
    border-radius: 3px;
    width: 82%;
    padding-left: 37%;
    margin-left: 0;
    margin-top: 51px;
}

.signup1 .form p.need{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin-top: 42px;
    text-align: center;
/* identical to box height */
    cursor: pointer;

}
.signup1 .form p.need a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */


    color: #0056C6;
    cursor: pointer;

}