div{
    
}
.applicationForm{
    margin-top: 106px;
    margin-left: 9%;
    margin-right: 9%;
}
.applicationForm .card .card-body h4{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    padding-left: 78px;

    /* identical to box height */

    display: flex;
    align-items: center;

    color: #0056C6;
}
.applicationForm .card .card-body h6{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    padding-left: 78px;

    color: #000000;
}
.applicationForm .card .card-body h6:after{
    content:"*" ;
    color:red
}
.applicationForm .card .card-body .mid .btn{
    background: #0056C6;
    border-radius: 5px;
    width: 31%;
    
    height: 50px;
    padding-left: 93px;
    margin-left: 109px;
}
.applicationForm .card .card-body span.dollarIcon{
    display: flex;
    margin-left: 78px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.applicationForm .card .card-body span.locationIcon{
    margin-right: 74%;
}
.applicationForm .card .card-body .mid .form-check{
    padding-left: 16%;
    margin-top: 82px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */



    color: #000000;
}
.applicationForm .card .card-body p.info{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    content: none;
    color: #000000;
    margin-top: 56px;
    padding-left: 78px;
    padding-right: 41px;
}
.applicationForm .card .card-body .form-row{
    padding-left: 78px;
    width: 96%;
}
.applicationForm .card .card-body .form-row .form-group.col{
    text-align: left;
    margin-right: 3%;
    margin-top: 20px;
}
.applicationForm .card .card-body .form-row .form-group.col label.form-label{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
}
.applicationForm .card .card-body .form-row .form-group.col label.req.form-label:after{
    content: "*";
    color: red;
}
.applicationForm .card .card-body .bottom{
    display: flex;
    width: 100%;
    margin-left: 100px;
    padding-top: 88px;
}
.applicationForm .card .card-body .bottom .bottom1{
    margin-right: 15%;
}
.applicationForm .card .card-body .bottom  .btn{
    width: 106%;
    background: rgba(0, 86, 198, 0.13);
    border: 1px solid #92B5DD;
    box-sizing: border-box;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    padding-left: 33%;
    height: 48px;
    margin-top: 0;
    margin-left: 15%;
}
.applicationForm .card .card-body .bottom  label{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-left: 16%;
}
.applicationForm .card .card-body .bottom p{
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    width: 113%;
    margin-left: 15%;
}
.applicationForm .card .card-body p.footer{
    padding-left: 78px;
    padding-right: 40px;
    text-align: left;
    margin-top: 87px;
}
.applicationForm .card .card-body p.footer2{
    padding-left: 78px;
    padding-right: 40px;
    text-align: left;
}
.applicationForm .card .card-body .btn{
    width: 36%;
    align-items: center;
    background: #0056C6;
    border-radius: 5px;
    height: 50px;
    padding-left: 16%;
    margin-top: 69px;
    margin-left: 33%;
}